<div class="authincation h-100">
  <div class="container-fluid ">
    <div class="row h-100">
      <div class="col-lg-6 col-md-12 col-sm-12 mx-auto align-self-center">
        <div class="login-form">
          <div class="text-center">
            <h3 class="title">{{ "RESET_PASSWORD_TITLE" | translate }}</h3>
            <p>{{ "RESET_PASSWORD_MESSAGE_HEADER" | translate }}</p>
          </div>
          <form [formGroup]="resetPasswordForm">
            <div class="mb-4">
              <label class="mb-1 text-dark">{{ "EMAIL" | translate }}</label>
              <input type="email" formControlName="email" class="form-control form-control">
            </div>
            <div class="mb-4 position-relative">
              <label class="mb-1 text-dark">{{ "PASSWORD" | translate }}</label>
              <div class="position-relative">
                <input type="password" class="form-control" formControlName="newPassword"
                       [type]="hide_show ? 'text' : 'password'">
                <span class="show-pass eye" (click)="passwordHide()" [ngClass]="{'active':hide_show}">
                    <i class="fa fa-eye-slash"></i>
                    <i class="fa fa-eye"></i>
                </span>
              </div>
            </div>
            <div class="mb-4 position-relative">
              <label class="mb-1 text-dark">{{ "PASSWORD_CONFIRMATION" | translate }}</label>
              <div class="position-relative">
                <input type="password" class="form-control" formControlName="password_confirmation"
                       [type]="hide_show ? 'text' : 'password'">
                <span class="show-pass eye" (click)="passwordHide()" [ngClass]="{'active':hide_show}">
                    <i class="fa fa-eye-slash"></i>
                    <i class="fa fa-eye"></i>
                </span>
              </div>
            </div>

            @if (error) {
              <div class="mb-4 text-center">
                <label class="mb-1 text-danger">{{ errorMessage | translate }}</label>
              </div>
            }
            <div class="text-center mb-4">
              <button type="submit" [disabled]="resetPasswordForm.invalid" (click)="onSubmit()"
                      class="btn btn-primary btn-block">{{ "RESET_PASSWORD_BUTTON" | translate }}
              </button>
            </div>
            <p class="text-center">{{ "PASSWORD_RECOVERED" | translate }}
              <a class="btn-link text-primary" routerLink="/auth/login">{{ "SIGN_IN_TITLE" | translate }}</a>
            </p>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6">
        <div class="pages-left h-100">
          <div class="login-content">
            <p></p>
          </div>
          <div class="login-media text-center">
            @if (theme == 'dark') {
              <img src="../../../../assets/images/illustrations/Full-Vertical-White.png" alt="LOGIN_PIC">
            } @else {
              <img src="../../../../assets/images/illustrations/Full-Vertical-Dark.png" alt="LOGIN_PIC">
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
