<div class="authincation h-100">
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col-lg-6 col-md-7 col-sm-12 mx-auto align-self-center">
        <div class="login-form">
          <div class="text-center">
            <h3 class="title">{{ "REGISTER_CC_TITLE"| translate }}</h3>
            <p>{{ "REGISTER_CC_HEADER" | translate }}</p>
          </div>
          <form [formGroup]="registerContentCreatorForm">
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['name'] }">
              <label class="mb-1 text-dark">{{ "MODEL_NAME" | translate }}</label>
              <input type="text" formControlName="name" class="form-control form-control" value="">
              @if (error_message_form["name"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['name']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['phonenumber'] }">
              <label class="mb-1 text-dark">{{ "PHONE_NUMBER" | translate }}</label>
              <input type="tel" formControlName="phoneNumber" class="form-control form-control input-group " value="">
              @if (error_message_form["phonenumber"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['phonenumber']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['country'] }">
              <label class="mb-1 text-dark">{{ "COUNTRY" | translate }}</label>
              <input type="text" formControlName="country" class="form-control form-control" value="">
              @if (error_message_form["country"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['country']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['city'] }">
              <label class="mb-1 text-dark">{{ "CITY" | translate }}</label>
              <input type="text" formControlName="city" class="form-control form-control" value="">
              @if (error_message_form["city"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['city']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['postalcode'] }">
              <label class="mb-1 text-dark">{{ "POSTAL_CODE" | translate }}</label>
              <input type="tel" formControlName="postalCode" class="form-control form-control" value="">
              @if (error_message_form["postalcode"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['postalcode']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['address'] }">
              <label class="mb-1 text-dark">{{ "ADDRESS" | translate }}</label>
              <input type="tel" formControlName="address" class="form-control form-control" value="">
              @if (error_message_form["address"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['address']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['businesstype'] }">
              <label class="mb-1 text-dark">{{ "BUSINESS_TYPE" | translate }}</label>
              <input type="test" formControlName="businessType" class="form-control form-control" value="">
              @if (error_message_form["businesstype"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['businesstype']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['website'] }">
              <label class="mb-1 text-dark">{{ "WEBSITE" | translate }}</label>
              <input type="url" formControlName="businessType" class="form-control form-control" value="">
              @if (error_message_form["website"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['website']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>
            <div class="mb-4" [ngClass]="{ 'input-danger': error_message_form['website'] }">
              <label class="mb-1 text-dark">{{ "LOGO_URL" | translate }}</label>
              <input type="url" formControlName="website" class="form-control form-control" value="">
              @if (error_message_form["website"]) {
                <div class="mb-4 mt-2">
                  <ul>
                    <li class="mb-1 text-danger small" *ngFor="let error of error_message_form['website']">{{ error }}
                    </li>
                  </ul>
                </div>
              }
            </div>

            @if(error){
              <div class="mb-4 text-center" >
                <label class="mb-1 text-danger">{{ error_message | translate }}</label>
              </div>
            }

            <div class="text-center mb-4">
              <button type="submit" (click)="onSubmit()"
                      [disabled]="registerContentCreatorForm.invalid"
                      class="btn btn-primary btn-block">{{ "VALIDATE_CONTENT_CREATOR_CREATION" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6">
        <div class="pages-left h-100 position-relative">
          <div class="login-content">
            <p></p>
          </div>
          <div class="login-media text-center fixed-img">
              <img src="../../../../assets/images/illustrations/register/Register-CC.png" alt="LOGIN_PIC">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
