<div class="nav-header">
  <a routerLink="/admin" class="brand-logo justify-content-center">

    <img src="assets/images/illustrations/Full-Horizontal-White.png"
         alt="Logo" class="logo desktop-logo" height="50" width="100">

    <img src="assets/images/illustrations/Single-White.png"
         alt="Logo" class="logo mobile-logo"  height="50" width="50">

  </a>
  <div class="nav-control" (click)="toggleSidebar()">
    <div [ngClass]="{'is-active':toggleVal, 'hamburger': true}">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
</div>
